.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.normal {
    background-color: #a1a1a1;
}

.grass {
    background-color: #48D0B0;
}

.fire {
    background-color: #FB6C6C;
}

.water {
    background-color: #58AAF6;
}

.electric {
    background-color: #FFCE4B;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #c87238;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #9066a1;
}

.fighting {
    background-color: #f87a3b;
}

.psychic {
    background-color: #eeb8d3;
}

.dark {
    background-color: #696969;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #cde022;
}

.ghost {
    background-color: #945df8;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #775bbb;
}

.fairy {
    background-color:#f9aec7;
}

 .pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    color: #fff;
    text-transform: capitalize;
}

.pokemon .number {
    color: #000;
    opacity: 0.1;
    text-align: right;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0.25rem;
    font-size: 0.625rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: capitalize;
}

.pokemon .detail .types li {
    background-color: #00000029;
    padding: 3px 8px;
    margin-bottom: 2px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
}

.pokemon .detail .types .type {
    color: #fff;
    margin: 0.25rem 0;
    padding: 0.2rem 0.7rem;
    font-size: 0.825rem;
    border-radius: 1rem;
    font-size: 0.625rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pagination button {
    margin: 3.25rem 0;
    padding: 0.75rem 0.75rem;
    font-size: 1.05rem;
    background-color: #a9d2f3;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
}

.pagination button:hover {
    opacity: 0.7;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}